<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread] %-logger : %msg%n</Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE_LOG" />
    </root>

</configuration>